body {
    margin: 0;
    padding: 0;
    background-color: #ddd;
    font-size: 20px;
}

#main_container {
    background-color: #fff;
    margin: 30px auto;
    padding: 10px 40px;
    text-align: center;
    width: 60%;
}

#logo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

#form {
    display: grid;
}

#username, #email, #phone_number, #password, #confirm_password, #submit {
    width: 60%;
    text-align: center;
    margin: 8px auto;
}

#submit {
    height: 35px;
    background-color: #ffcc66;
    border-radius: 30px;
}

